*Makefile
*Makefile.in
stamp*
*/.deps
.libs
*.orig
*.o
*.gmo
*.lo
*,orig
configure
config.*
configure.in
intltool*
mkinstalldirs
missing
compile
install-sh
ltmain.sh
depcomp
aclocal.m4
autom4te.cache
*.desktop
INSTALL
\[config.h\].in
configure.ac
libtool
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
src/libsmartbookmark.la
